.navbar a{
	color: white;
}
.nav ul li a:hover{
	border-bottom: 1px solid white;
}
.navbar-header a {
	font-size: 25px;
}
.navbar-custom {
	position: absolute;
	top: 0;
	width: 100%;
}
header {
	height: 450px;
	padding:150px 50px;
	color: white;
}
header h1 {
	font-size: 50px;
}
#posts {
	border-bottom: 1px solid grey;
}
#posts h1 {
	font-weight: bold;
}
#posts h1 a {
    color: black;
    text-decoration: none;
}
#posts h1 a:hover {
    color: blue;
}
.down-btn {
	padding: 50px 0;
}
.btn-default:hover {
    background: #263238;
    border: 0;
    color: white;
}
.navbar-center {
	float: none;
	display: table;
	table-layout: fixed;
	margin: 0 auto;
}
.m-col {
	-webkit-column-count: 3;
}
